<h1>Welcome!</h1>

<form action="/greet" method="POST">
  <LABEL for="user_name">NAME:</label>

    <p><input type="text" name="user_name" id="user_name" /></p>

    <input type="submit" value="Submit" />
</form>
